<form class="{{cssClass}}" autocomplete="off">
  <div class="main-content">
    <div class="row">
      <div class="lcars-column">
        <div class="lcars-header-extendedtask1"></div>
      </div>
      <div class="column-headerfields1-name-extendedtasks">
        <label class="label">{{localize 'sta.item.genericitem.name'}}</label>
        <input name="name" type="text" class="text-entry" value="{{name}}" placeholder="{{localize 'sta.item.genericitem.name'}}" />
      </div>
      <div class="column-headerfields1-other-extendedtasks">
        <label class="label">{{localize 'sta.actor.extendedtask.work'}}</label>
        <input name="system.work" type="number" id="work" class="numeric-entry" value="{{system.work}}" min="0" data-dtype="Number" />
      </div>
      <div class="column-headerfields1-other-extendedtasks">
        <label class="label">{{localize 'sta.actor.extendedtask.difficulty'}}</label>
        <input name="system.difficulty" type="number" id="difficulty" class="numeric-entry" value="{{system.difficulty}}" min="0" data-dtype="Number" />
      </div>
    </div>
    <div class="row">
      <div class="lcars-column">
        <div class="lcars-header-extendedtask2"></div>
      </div>
      <div class="column-headerfields2-extendedtasks">
        <label class="label">{{localize 'sta.actor.extendedtask.breakthroughs'}}</label>
        <input name="system.breaches" type="number" id="breaches" class="numeric-entry" value="{{system.breaches}}" min="0" data-dtype="Number" />
      </div>
      <div class="column-headerfields2-extendedtasks">
        <label class="label">{{localize 'sta.actor.extendedtask.magnitude'}}</label>
        <input name="system.magnitude" type="number" id="magnitude" class="numeric-entry" value="{{system.magnitude}}" min="0" data-dtype="Number" />
      </div>
      <div class="column-headerfields2-extendedtasks">
        <label class="label">{{localize 'sta.actor.extendedtask.resistance'}}</label>
        <input name="system.resistance" type="number" id="resistance" class="numeric-entry" value="{{system.resistance}}" min="0" data-dtype="Number" />
      </div>
    </div>
    <div class="row">
      <div class="lcars-column">
        <div class="lcars-header-extendedtask3"></div>
      </div>
      <div class="column-headerfields2-extendedtasks"></div>
      <div class="column-headerfields2-extendedtasks">
      </div>
      <div class="column-headerfields2-extendedtasks"></div>
    </div>
    <div class="row">
      <div class="lcars-column">
        <div class="lcars-header-extendedtask4"></div>
        <div class="lcars-body-extendedtask1"></div>
        <div class="lcars-body-extendedtask2"></div>
      </div>
      <div class="extendedtask track">
        <input type="hidden" id="work-progress" name="system.workprogress" value="{{system.workprogress}}" data-dtype="Number" />
        <div id="extendedtask-renderer" style="width: 100%" class="extendedtask track"></div>
      </div>
    </div>
</form>
