/* Button Starts Here */

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.check-button {
  font-weight: unset;
  font-size: 14px;
  text-align: center;
  background-color: $itembackground;
  max-width: 110px;
}

  .btn {
    border: solid $taskbuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $taskbuttonColor;
      cursor: pointer;
    }
  }

  .btn2 {
    border: solid $challengebuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $challengebuttonColor;
      cursor: pointer;
    }
  }

  .btn3 {
    border: solid $acclaimbuttonColor;
    border-width: 0 20px;
    width: unset;
    margin: 8px 16px 4px;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $acclaimbuttonColor;
      cursor: pointer;
    }
  }

/* Button Ends Here */