.window-content:has(.character-sheet) {
  padding: 0;
}

.theme-light {
  .character-sheet {
    background: $background;
	scrollbar-color: $palestblue transparent;
    .title {
      background-color: $borderblue;
    }
    .text-entry {
      border-color: $borderblue;
    }
    .numeric-entry {
      border-color: $borderblue !important;
    }
  }
}

.character-sheet {
  overflow: scroll;
  padding-left: 7px;
  scrollbar-color: $darkestblue transparent;

.text-entry {
  border-color: $borderbluedark;
}

.title {
  margin-top: 5px;
  font-weight: bold;
  margin-right: 2px;
  background-color: $borderbluedark;
}

.tracktitle {
  margin-top: 5px;
  font-weight: bold;
}

.split-section {
  display: flex;
  width: 100%;
}

.top-left-column {
  flex: 0 0 205px;
  padding-right: 5px;
  align-self: flex-start;
}

.top-right-column {
  flex: 0 0 625px;
  padding-left: 5px;
  align-self: flex-start;
}

.bottom-left-column {
  flex: 0 0 150px;
  padding-right: 10px;
  align-self: flex-start;
}

.bottom-right-column {
  flex: 0 0 680px;
  padding-left: 10px;
  align-self: flex-start;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.pronouns {
  width: 15%;
}

.species {
  width: 25%;
}

.rank {
  width: 25%;
}

.assignment {
  width: 35%;
}

.careerpath {
  width: 50%;
}

.characterrole {
  width: 25%;
}

.experience {
  width: 25%;
}

.environment {
  width: 50%;
}

.upbringing {
  width: 50%;
}

.pastimes {
  width: 40%;
}

.careerevents {
  width: 60%;
}

.traits {
  width: 100%;
}

.house {
  width: 25%;
}

.caste {
  width: 25%;
}

.status {
  width: 25%;
}

.legacy {
  width: 25%;
}

.temperament {
  width: 25%;
}

.househistory {
  width: 75%;
}

.acclaimfield {
  width: 20%;
  .text-entry {
    text-align: right;
  }
}

.reprimand {
  width: 20%;
  .text-entry {
    text-align: right;
  }
}

.influence {
  width: 20%;
  .text-entry {
    text-align: right;
  }
}

.might {
  width: 20%;
  .text-entry {
    text-align: right;
  }
}

.wealth {
  width: 20%;
  .text-entry {
    text-align: right;
  }
}

.items-column-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 5px;
}

.items-column-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5px;
}

.row-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .numeric-entry {
    width: 32px;
	height: 28px;
	text-align: right;
	border-color: $borderbluedark;
  }
}

.attribute-block {
  margin-bottom: 10px;
}

.discipline-block {
  margin-bottom: 10px;
}

.rollrepnotdis {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.rollrepnotdis .checkbox {
  margin-left: 10px;
}

.stressmod {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
}

.stressmod .text-entry {
  width: 32px;
  margin-left: 10px;
  text-align: right;
}

/* Image Styling */
.image-field {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Name Field Styling */
.name-field .text-entry {
  font-size: 2rem;
  height: 3rem;
}

/* Note Field Styling */
.tab .note {
  height: 400px;
  text-align: left;

  .editor {
    height: 100%;
  }
}

nav.sheet-tabs.tabs a.item.active {
  text-shadow: 0 0 10px $borderblue, 0 0 10px $borderblue, 0 0 10px $borderblue, 0 0 10px $borderblue, 0 0 10px $borderblue;
}

nav.sheet-tabs.tabs a.item:hover {
  text-shadow: 0 0 10px $borderblue, 0 0 10px $borderblue;
}

}