$background: #FAF9F6;
$textgrey: #191813;
$taskbuttonColor: #009dff;
$challengebuttonColor: red;
$acclaimbuttonColor: #F2CC0D;
$deletebuttonHover: red;
$editbuttonHover: orange;
$trackColors: transparent;
$trackColorsselected: #F2CC0D;
$borderblue: #89CFF0;
$borderbluedark: #003399;
$palestblue: #E2FFFF;
$palestbluedark: #6699ff;
$darkestblue: #00273f;
$damagedsystem: #ed6c15;
$disabledsystem: #808080;
$destroyedsystem: #ff0000;
$disabledinput: grey;
$tooltipbackground: rgba(0, 0, 0, 0.8);
$itembackground: transparent;
$tooltiptext: #fff;
$rolltext: #000;
$rollcriticalpass: green;
$rollcriticalfail: red;
$chatcardvars: #808080;