/* Colors Start Here */

$background: #FAF9F6;
$textgrey: #191813;
$inputbackground: rgba(0, 0, 0, 0.05);
$taskbuttonColor: #009dff;
$challengebuttonColor: red;
$acclaimbuttonColor: #F2CC0D;
$deletebuttonHover: red;
$editbuttonHover: orange;
$trackColors: transparent;
$trackColorsselected: #F2CC0D;
$borderblue: #89CFF0;
$borderbluedark: #003399;
$palestblue: #E2FFFF;
$palestbluedark: #6699ff;
$darkestblue: #00273f;

/* Colors Ends Here */