.theme-light {
  .dialogue {
    background: $background;
    .text-entry {
      border-color: $borderblue;
    }
    .numeric-entry {
      border-color: $borderblue !important;
    }
  }
}

.dialogue {
  width: 100%;

.row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}


.title {
  margin-top: 5px;
  font-weight: bold;
  margin-right: 2px;
  font-size: 1.5rem;
}

.tracktitle {
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text-entry {
  border-color: $borderbluedark;
}

.numeric-entry {
  border-color: $borderbluedark;
  margin-right: 5px;
  width: 40px;
  text-align: right;
}

label {
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.form-select {
  flex: 0 0 75%;
}

/* Flexbox classes */
.flex-1 {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

}