/* Items Style Starts Here */


.theme-light {
  .window-content:has(.item-sheet) {
    background: $background;
  }

  .item-sheet {
    .title {
      background-color: $borderblue;
    }
    .text-entry {
      border-color: $borderblue;
    }
    .numeric-entry {
      border-color: $borderblue !important;
    }
  }
}

.item-sheet {
  width: 100%;

.row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;

  .grid {
    width: 25%;
    display: flex;
    align-items: center;
  }
  .columnx4 {
    width: 25%;
  }
}


.title {
  margin-top: 5px;
  font-weight: bold;
  background-color: $borderbluedark;
  margin-right: 2px;
}

.tracktitle {
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.traits {
  flex-grow: 0;
  width: 30%;
}

.inline-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inline-container select,
.inline-container input[type="number"] {
  flex-grow: 0;
}

.text-entry {
  border-color: $borderbluedark;
}

.numeric-entry {
  border-color: $borderbluedark;
  margin-right: 10px;
  width: 40px
}

/* Image Styling */
.image-field {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
}

.img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Note Field Styling */
.note {
  height: 200px;
  text-align: left;

  .editor {
    height: 100%;
  }
}

}

/* Items Style Ends Here */