<div id="dice-pool-form" class="dialogue">
  <div class="row">
    <div class="tracktitle">{{localize 'sta.roll.positiveinfluences'}}</div>
    <input type="number" name="positiveInfluences" value="1" class="numeric-entry" id="positiveInfluences">
  </div>
  <div class="row">
    <div class="tracktitle">{{localize 'sta.roll.negativeinfluences'}}</div>
    <input type="number" name="negativeInfluences" value="0" class="numeric-entry" id="negativeInfluences">
  </div>
</div>