<form id="dice-pool-form" class="dialogue">
  <div class="row">
    <div class="tracktitle">{{localize 'sta.apps.pool'}}</div>
    <input type="number" name="dicePoolValue" min="1" value="{{defaultValue}}" class="numeric-entry" id="dicePoolValue">
  </div>
</form>