$background: #0F0F0F;
$backgroundGray: #4C4D47;
$headerColor: #FAA41B;
$buttonColor: #FFCC33;
$buttonHover: #FFEEAA;
$buttonColor2: #CC2233;
$buttonHover2: #DD4444;
$inlaidText: #000000;
$inputColor: #CC88FF;
$labelColor: #33CCCC;
$editorText: #000000;
$editorBackground: #FFFFFF;
$trackbarBorders: #666688;
$separatorBorders: #FF7700;
$chatText: #FEFEFE;
$lcarsColors: (
  "lcarsheader": #444A77,
  "purple": #9944FF,
  "lightblue": #33CCCC,
  "blue": #4455FF,
  "bluepurple": #7788FF,
  "brightpurple": #CC33FF,
  "lightpurple": #CC88FF,
  "orange": #FF7700,
  "brightred": #FF2200,
  "gold": #FFAA00,
  "red": #DD4444,
  "lightred": #FF5555,
  "tan": #FF9966,
  "lighttan": #FFBBAA
);
$trackColors: (
  "stressSelected": #1111EE,
  "stress": #FF2200,
  "determinationSelected": #FFCC33,
  "determination": #191813,
  "repSelected": #CC2233,
  "rep": #191813,
  "shieldsSelected": #1111EE,
  "shields": #FF2200,
  "powerSelected":  #FFCC33,
  "power":#191813,
  "crewSelected": #CC2233,
  "crew": #191813,
  "extendedtaskSelected": #FFCC33,
  "extendedtask": #191813
);

/* Window Content Overrides *//*#region*/
.sta {
  .window-content {
    background: $background !important;
    padding: 0;
  }

  .main-content {
    background: $background !important;
    padding: 5px;
  }
}

// .window-app {
//   .window-content {
//     background: $background !important;
//     padding: 0;
//   }
// }
/*#endregion*/

/* Globals *//*#region*/
.sta .title {
  text-align: center;
  font-size: 14pt;
}

.sta {
  text-align: center;

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}

.sta .unset-clickables:hover {
  box-shadow:unset !important;
  text-shadow:unset !important;
  cursor:unset !important;
  content:unset !important;
}
/*#endregion*/

/* Button Definitions *//*#region*/
.sta {
  .btn {
    background-color: $buttonColor;
    color: $inlaidText;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $buttonHover;
      cursor: pointer;
    }
  }

  .btn2 {
    background-color: $buttonColor2;
    color: $inlaidText;
    border-radius: 20px;
    font-weight: bold;
  
    &:hover {
      box-shadow: none;
      background-color: $buttonHover2;
      cursor: pointer;
    }
  }
}
/*#endregion*/

/* LCARS Layout *//*#region*/
.sta.sheet.actor {
  .header {
    display: flex;
  }

  .lcars-column {
    flex: 10%;
    display:flex;
    flex-flow: column;

    .lcars-header-block1 {
      flex: 3;
      background-color: map-get($lcarsColors, "purple");
      border-bottom: 4px solid $background;
    }
  
    .lcars-header-block2 {
      flex: 7;
      background-color: map-get($lcarsColors, "blue");
      border-bottom: 4px solid $background;
    }

    .lcars-attribute-title-block {
      background-color: map-get($lcarsColors, "lcarsheader");
      border-bottom-left-radius: 40px;
      flex: 0 1 47px;
    }

    .lcars-item1-connect-block,
    .lcars-item2-connect-block {
      flex: 0 1 40px;
      background-color: map-get($lcarsColors, "lcarsheader");
      border-top-left-radius: 40px;
    }

    .lcars-item1-top-block {
      flex: 0 1 30px;
      background-color: transparent;
      border-bottom: 5px solid $background;
    }

    .lcars-item2-top-block {
      flex: 0 1 30px;
      background-color: map-get($lcarsColors, "bluepurple");
      border-bottom: 5px solid $background;
    }

    .lcars-attribute-general-block1 {
      background-color: map-get($lcarsColors, "brightpurple");
      flex: 1;
      border-top-left-radius: 40px;
      border-top: 5px solid $background;
    }

    .lcars-attribute-general-block2 {
      background-color: map-get($lcarsColors, "orange");
      flex: 2;
      border-top: 5px solid $background;
    }

    .lcars-attribute-general-block3 {
      background-color: map-get($lcarsColors, "purple");
      flex: 1;
      border-top: 5px solid $background;
      border-bottom-left-radius: 40px;
    }

    .lcars-item1-general-block {
      background-color: map-get($lcarsColors, "bluepurple");
      flex: 1;
      border-top: 5px solid $background;
    }

    .lcars-item2-general-block1 {
      background-color: map-get($lcarsColors, "brightred");
      flex: 1;
      border-top: 5px solid $background;
    }

    .lcars-item2-general-block2 {
      background-color: map-get($lcarsColors, "gold");
      flex: 2;
      border-top: 5px solid $background;
    }

    .lcars-header-extendedtask1 {
      background-color: map-get($lcarsColors, "brightpurple");
      border-bottom: 5px solid $background;
      flex: 1;
      width: 100%;
    }

    .lcars-header-extendedtask2 {
      background-color: map-get($lcarsColors, "gold");
      border-bottom: 5px solid $background;
      flex: 1;
      width: 100%;
    }

    .lcars-header-extendedtask3 {
      background-color: map-get($lcarsColors, "lcarsheader");
      flex: 1;
      width: 100%;
    }

    .lcars-header-extendedtask4 {
      background-color: map-get($lcarsColors, "lcarsheader");
      flex: 0 1 27px;
      width: 100%;
      border-bottom: 5px solid $background;
      border-bottom-left-radius: 40px;
    }
    
    .lcars-body-extendedtask1 {
      background-color: $background;
      flex: 0 1 33px;
      width: 100%;
    }

    .lcars-body-extendedtask2 {
      background-color: map-get($lcarsColors, "lcarsheader");
      flex: 1 1 auto;
      width: 100%;
      border-top-left-radius: 40px;
    }
  }
}
/*#endregion*/

/* Actor Sheet *//*#region*/
.sta.sheet.actor {
  /* Colors */
  .title {
    height: 30px;
    color: $headerColor;
  }

  .list-entry,
  .editor,
  .label {
    color: $labelColor;
  }

  .editor .editor-edit {
    color: $editorText
  }

  .tox.tox-tinymce .tox-edit-area__iframe {
    background-color: $editorBackground;
  }

  .secondary-title {
    color: $inlaidText;
  }

  .numeric-entry,
  .text-entry {
    color: $inputColor;
  }

  /* Trackbars */
  .track {
    display: flex;
    flex-direction: row;
    
    .bar:not(.extendedtask) {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  .track .bar .box {
    height: 14px;
    border: 1px solid $trackbarBorders;
    border-radius: 14px;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 8px $buttonHover;
      cursor: pointer;
    }

    &.stress {
      background-color: map-get($trackColors, "stress");
      color: $inlaidText;

      &.selected {
        background-color: map-get($trackColors, "stressSelected");
        color: $chatText;
      }
    }

    &.determination {
      background-color: map-get($trackColors, "determination");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "determinationSelected");
        color: $inlaidText;
      }
    }

    &.rep {
      background-color: map-get($trackColors, "rep");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "repSelected");
        color: $inlaidText;
      }
    }

    &.shields {
      background-color: map-get($trackColors, "shields");
      color: $inlaidText;

      &.selected {
        background-color: map-get($trackColors, "shieldsSelected");
        color: $chatText;
      }
    }

    &.power {
      background-color: map-get($trackColors, "power");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "powerSelected");
        color: $inlaidText;
      }
    }

    &.crew {
      background-color: map-get($trackColors, "crew");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "crewSelected");
        color: $inlaidText;
      }
    }

    &.extendedtask {
      height: 28px;
      font-size: 16pt;
      background-color: map-get($trackColors, "extendedtask");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "extendedtaskSelected");
        color: $inlaidText;
      }
    }
  }
  
  /* Layout - Main/Attributes */
  .header-fields {
    flex: 90%;
    top: 0;
    padding: 5px;

    .row .column {
      display: flex;
      width: 100%;
    }

    .section.reputation .title {
      font-size: 14px;
    }
  }

  .main {
    flex: 1;

    .row {
      max-height: 300px;

      .limited-only {
        height: 20px;
      }

      .column {
        flex: 30%;
        overflow-y: auto;

        .section {
          .header.row {
            background-color: map-get($lcarsColors, "lcarsheader");
            color: $inlaidText;
            font-weight: bold;
            padding-left: 2px;
            padding-right: 2px;
            border-bottom: 2px solid $background;
          }

          .profile-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: 50% 0;
          }

          .title {
            font-size: 18pt;
          }

          .row {
            display: flex;
            flex-direction: row;
          }

          .entry.row {
            display: flex;
            flex-direction: row;
          }

          .note,
          .milestone,
          .injury {
            height: 200px;
            text-align: left;
            
            .editor {
              height: 100%;
              padding: 5px;
            }
          }

          /* Attributes/Disciplines */

          .stat.row{
            .field {
              width: 20%;
            }

            .text {
              width: calc(80% - 30px);
            }

            .selector-space {
              width: 30px;
            }

            .selector {
              border: 1px solid;
              border-collapse: collapse;
              padding: 0px;
              display: block;
            }

            .selector:hover {
              box-shadow: none;
              cursor: pointer;
            }
          }

          .check-button {
            width: 75%;
            height: 30px;
            line-height: 30px;
            margin: 5px 12.5%;
            font-size: 14pt;
          }
        }

        .section.scale, 
        .section.resistance {
          display: flex;
          background-color: map-get($lcarsColors, "purple");
          height: 41px;

          .title {
            background-color: $background;
            width: 75%;
            margin-top: 5px;
          }

          .field.numeric-entry {
            width: 15%;
            height: 30px;
            border: none;
            border-radius: 0px;
            margin-top: 5px;
            background-color: $background;
          }
        }
        
        .section.scale .title {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          margin-left: 10%;
        }

        .section.resistance .field.numeric-entry{
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          margin-right: 10%;
        }
      }
    }
  }

  .column.left-column {
    border-right: 2px solid $background;
  }

  .column.center-column {
    border-right: 2px solid $background;
    border-left: 2px solid $background;
  }

  .column.right-column {
    border-left: 2px solid $background;
  }

  /* Layout - Owned Items */
  .main {
    .row {
      .column {
        .section {
          .row {
            .image {
              width: 26px;

              img {
                width: 24px;
                height: 24px;
                object-fit: cover;
                object-position: 50% 0;
              }

              .rollable:hover {
                content: url("/icons/svg/d20-grey.svg");
                box-shadow: none;
                cursor: pointer;
              }

              .chat:hover {
                content: url("/systems/sta/assets/icons/chat-bubble.svg");
                box-shadow: none;
                cursor: pointer;
              }

              .click-to-nav {
                cursor: pointer;
              }
            }

            .control {
              color: $buttonColor;
              width: 40px;
              padding-right: 2px;
            }
            
            .delete {
              color: $buttonColor2;
              
              &:hover {
                color: $buttonHover;
                text-shadow: none;
              }
            }

            .add,
            .edit {
              &:hover {
                color: $buttonHover2;
                text-shadow: none;
              }
            }

            .one-column-with-roll {
              width: calc(100% - 58px);
            }

            .one-column-no-roll {
              width: calc(100% - 32px);
            }
            
            .two-column-with-roll-primary {
              width: calc((100% - 58px)*0.75);
            }

            .two-column-with-roll-secondary {
              width: calc((100% - 58px)*0.25);
            }

            .column-x2 {
              width: 90%;
              padding-left: 10%;
            }
            
            .small input {
              height: 17px;
              color:$inputColor;
            }

            .small.disabled input {
              box-shadow: none;
              cursor: default;
              color: grey;
            }

            .list-entry.strike-through {
              text-decoration: line-through;
            }
          }
        }

        .value-used {
          height: 17px;
        }

        .row.equipable {
          .control {
            width: 56px;
          }
        }

        /*  Actor - Talent Tooltips */
        .entry.row.talent-tooltip-container {
          overflow-y: hidden;
          border:.5px dashed $separatorBorders;
          height: 200px;
          -webkit-transition: height 0.5s linear, border-width 0.5s linear;
            -moz-transition: height 0.5s linear, border-width 0.5s linear;
              -ms-transition: height 0.5s linear, border-width 0.5s linear;
                -o-transition: height 0.5s linear, border-width 0.5s linear;
                  transition: height 0.5s linear, border-width 0.5s linear;
          &.hide {
            border: 0px dashed $separatorBorders;
            height: 0px;
            -webkit-transition: height 0.5s linear, border-width 0.5s linear;
              -moz-transition: height 0.5s linear, border-width 0.5s linear;
                -ms-transition: height 0.5s linear, border-width 0.5s linear;
                  -o-transition: height 0.5s linear, border-width 0.5s linear;
                    transition: height 0.5s linear, border-width 0.5s linear;
          }
        }
      }
    }
  }

  /* Extended Tasks */
  .row {
    .column-headerfields1-name-extendedtasks {
      width: 60%;
      padding-left: 5%;
      padding-right: 5%;
      
      .numeric-entry {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .column-headerfields1-other-extendedtasks {
      width: 15%;

      .numeric-entry{
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .column-headerfields2-extendedtasks {
      width: 30%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2px;

      .numeric-entry {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .extendedtask.track {
      width:90%;
    }
  }

  .extendedtask-divider {
    background-color:map-get($lcarsColors, "lcarsheader");
    height: 17px;
    width:100%; 
    color: $background; 
    text-align:center; 
    margin-top:5px; 
    margin-bottom:5px; 
    font-weight:bold;
  }
}
/*#endregion*/

/* Item Sheet  *//*#region*/
.sta.sheet.item {
  .label {
    color: $labelColor;
  }

  .header-fields {
    font-size: 12pt;

    .row {
      display: flex;
      flex-direction: row;
      
      .img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: 50% 0;
        margin-right: 10px;
      }

      .column-x1 {
        flex: 1;
        margin-right: 10px;
      }

      .column-x3-img {
        flex: 3 60px;
        margin-right: 10px;
      }

      .column-x3 {
        flex: 3;
      }

      .column-x2 {
        flex: 2;
        margin-right: 10px;
      }

      .one-column-with-roll {
        width: calc(100% - 60px);
      }
    }
  }

  input[type="text"],
  input[type="number"],
  select,
  .text,
  .entry,
  .editor {
    color: $inputColor;
  }

  option {
    background-color: $background;
  }

  input[type="number"] {
    text-align: center;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .editor-edit {
    display: block;
    color: $editorText;
  }

  .editor-content {
    padding-right: 25px;
  }

  .tox.tox-tinymce .tox-edit-area__iframe {
    background-color: $editorBackground;
  }

  .description {
    height: calc(100% - 100px);
    padding-top: 10px;

    .editor {
      height: 90%;
    }
  }

  &.characterweapon,
  &.starshipweapon {

    .header-fields .row .column-x4 {
      width: 25%;
      display: flex;
      flex-direction: row;
      text-align: left;
      
      .label {
        font-size: 14px;
        line-height: 26px;
      }
    }

    .description {
      height: calc(100% - 128px);
    }
  }
  /* Items - Weapon Specific */
}
/*#endregion*/

/* Forms and Dialogs *//*#region*/

.sta-form {
  .label {
    color: $headerColor;
  }
  
  .numeric-entry {
    color: $inputColor;
  }
}

.app.dialog .window-content {
  .dialog-content {
    color: $labelColor;
  }

  .form-fields {
    input,
    select {
      color: $inputColor;
    }
  }

  .form-group {
    input,
    select {
      color: $inputColor;
    }
  }
}

.dialog > .window-content {
  padding: 0px;

  & > .dialog-content {
    background-color: $background;
    padding: 8px;
  }

  .dialog-buttons {
    background-color: $background;
  }

  .dialog-button.roll.default, 
  .dialog-button.ok.default, 
  .dialog-button.yes, 
  .dialog-button.no { 
    background-color: $buttonColor;
    color: $inlaidText;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    
    &:hover {
      box-shadow: none;
      background-color: $buttonHover;
    }
  }
}

.folder-edit,
.folder-create {
  .window-content {
    background: $background;
    color: $labelColor;
    
    form {
      background-color: $background;
      
      input {
        color: $inputColor;
      }

      button { 
        background-color: $buttonColor;
        color: $inlaidText;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          box-shadow: none;
          background-color: $buttonHover;
        }
      }
    }
    
  }
}

/* Chat Log */

.app .chat-message.message{
  background: $background;

  .message-header,
  .message-content {
    color: $chatText;
  }
}

.reroll-result {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: $background;
  border: 1px solid $trackbarBorders;
  border-radius: 3px;
  word-break: break-all;
  margin-top: 5px;

  &:hover {
    background-color: $buttonHover;
  }
}

.chat-message.message .reroll-result { 
  background-color: $buttonColor;
  color: $inlaidText;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
  &:hover {
    box-shadow: none;
    background-color: $buttonHover;
  }
}

/* Dice Pools Dialog and Chat Messages */
.dice-pool .flexrow {
  padding: 4px 5px;
}

.sta.roll{
  .dice-roll .dice-result .dice-tooltip {
    display: block;
  }

  &.attribute {
    .dice-roll {
      .dice-result {
        .dice-formula .aim {
          margin: 0;
          background: unset;
          border: 0;
        }
  
        .dice-tooltip .dice .dice-rolls {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      .dice-total.effect {
        color: $labelColor
      }
    }
  }

  &.generic {
    .dice-roll {
      .dice-result {
        .dice-formula {
          box-shadow: none;
          line-height: normal;
          cursor: pointer;
          word-break: normal;
  
          &.title {
            display: flex;
            flex-direction: row;
            background: none;
            border: none;
            text-align: left;
          }
  
          .img {
            height: 45px;
          }
        }
        
        .tags {
          display: flex;
          flex-direction: row;
          text-align: center;
          flex-wrap: wrap;
  
          .tag {
            width: calc(100%/3);
            font-size: 12px;
            flex-grow: 1;
            border: 0.5px solid $background;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      .dice-total.effect {
        color: $labelColor
      }
    } 
  }
} 

.message-content {
  .table-draw {
    img.result-image {
      background: $backgroundGray;
    }

    .result-text {
      a.entity-link {
        background: $background;
      }
    }
  }
}


/*  Momentum/Threat Tracker *//*#region*/

.sta.tracker {
  position: absolute;
  display: block;
  margin-right: 0;
  height: 100px;
  width: 200px;
  background: none;
  border-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0;
  clip-path: inset(-20px 0px -20px -20px);

  &.threat {
    bottom: 0;
    right: 0px;
    background-color: map-get($lcarsColors, "brightred");
  }

  &.momentum {
    bottom: 105px;
    right: 0px;
    background-color: map-get($lcarsColors, "blue");
  }

  .header {
    text-align: center;
    font-size: 1.75em;
    text-transform: uppercase;
    background-color: $background;
    border-bottom-left-radius: 30px;
    width: 185px;
    height: 35px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .button-group {
    display: flex;
    font-size: 1.5em;
    background-color: $background;
    border-top-left-radius: 30px;
    width: 185px;
    height: 35px;
    margin-left: 15px;
    margin-top: 15px;

    .button {
      i:hover {
        cursor: pointer;
      }

      &.decrease {
        padding-left: 50px;
        padding-right: 10px;
      }

      &.increase {
        padding-left: 10px;
        padding-right: 50px;
      }
    }
    
    input {
      color: $inputColor;
      text-align: center;
      border: none;
      width: 100%;
    }
  }
}

#sidebar:not(.collapsed) ~ .sta.tracker.momentum, 
#sidebar:not(.collapsed) ~ .sta.tracker.threat {
  right: 354px;
}
/*#endregion*/


/* Logo - Generic *//*#region*/

.sta.logo {
  position: absolute;
  display: block;
  margin-right: 0;
  left: 110px;
  top: 55px;
  z-index: 1;
  text-decoration: none;

  img {
    width: 150px;
    border: none;
  }

  div {
    font-size: 30px;
    line-height: 0.7;
    text-align: center;
    color: $editorText;
    -webkit-text-stroke: 2px $editorBackground;
  }
}
/*#endregion*/


/* Sidebar */ /*#region*/

#sidebar {
  &:not(.collapsed) {
    background: none;
    border:none;
    background-color: map-get($lcarsColors, "tan");
    width: 350px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 0;

    & > #sidebar-tabs {
      margin-left: 50px;

      & > .collapse {
        border-left: 4px solid $background;
        border-right: 4px solid $background;
      }

      &  > .item {
        border-left: 4px solid $background;
        &.active {
          border-left: 4px solid $background;
        }
      }
    }
  }

  & > #sidebar-tabs {
    color: $inlaidText;
    margin-bottom: 0;
    border-bottom: none;
    box-shadow: none;

    & > .collapse {
      background-color: map-get($lcarsColors, "bluepurple");
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      color: $inlaidText;
    }

    & > .item {
      background-color: map-get($lcarsColors, "tan");
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      color: $inlaidText;

      &:hover {
        text-shadow: none;
        background-color: map-get($lcarsColors, "lighttan");
      }

      &:nth-child(odd) {
        background-color: map-get($lcarsColors, "bluepurple");

        &:hover {
          background-color: map-get($lcarsColors, "lightpurple");
        }
      }
      
      &.active {
        box-shadow: none;
        background-color: $buttonColor2;
        border-bottom: none;
        border-top: none;
        color: $inlaidText;

        &:hover {
          background-color: map-get($lcarsColors, "lightred");
        }
      }
    }
  }

  
  .sidebar-tab {
    background: $background;
    border-top: 5px solid $background;
    width: 300px;
    margin-left: 50px;

    .directory-header {
      .create-entity,
      .create-folder {
        font-weight: bold;
        background-color: $buttonColor;
        color: $inlaidText;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
          box-shadow: none;
          background-color: $buttonHover;
        }

      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 60%;
    right: 300px;
    height: 25%;
    width: 50px;
    background-color: map-get($lcarsColors, "lightblue"); 
    border-top: 5px solid $background;
    border-bottom: 5px solid $background;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 300px;
    height: 20%;
    width: 50px;
    background-color: map-get($lcarsColors, "orange"); 
    border-top: 5px solid $background;
    border-bottom: 5px solid $background;
  }
}
/*#endregion*/