<div class="dice-roll collapsible">
  <div class="dice-result">
    {{#if dicePool}}
    <div class="dice-formula">
      <div class="dice-pool">{{dicePool}}d20</div>
    </div>
    {{/if}}
    <div class="tooltip">
      <section class="tooltip-part collapsible-content">
        <div class="dice">
          <ol class="dice-rolls">{{{diceHtml}}}</ol>
        </div>
      </section>
    </div>{{{effectHtml}}}
    <h4 class="dice-total">{{successText}}</h4>
  </div>
</div>