<form class="{{cssClass}}" autocomplete="off">
    <div class="main-content">
        <div style="display:none">
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/control-security.svg"></img>
            </div>
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/daring-security.svg"></img>
            </div>
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/fitness-security.svg"></img>
            </div>
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/insight-security.svg"></img>
            </div>
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/presence-security.svg"></img>
            </div>
            <div>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-command.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-conn.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-engineering.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-medicine.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-science.svg"></img>
                <img style="width: 50px" src="/systems/FVTT-StarTrekAdventures/icons/reason-security.svg"></img>
            </div>
        </div>
        <div class="header-fields">
            <div class="section reputation">
                <div class="title bold">
                    {{localize 'sta.actor.character.reputation'}}
                </div>
                <div class="track">
                    <input type="hidden" id="total-rep" name="data.reputation" value="{{data.reputation}}" data-dtype="Number" />
                    <div id="bar-rep-renderer" class=" bar"></div>
                </div>
            </div>
            <div class="row">
                <div class="column bold title" style="width:40%">
                    {{localize 'sta.actor.character.name'}}
                </div>
                <div class="column bold title" style="width:25%">
                    {{localize 'sta.actor.character.species'}}
                </div>
                <div class="column bold title" style="width:10%">
                    {{localize 'sta.actor.character.rank'}}
                </div>
                <div class="column bold title" style="width:25%">
                    {{localize 'sta.actor.character.assignment'}}
                </div>
            </div>
            <div class="row">
                <div class="column" style="width:40%">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </div>
                <div class="column" style="width:25%">
                    <input name="data.species" type="text" value="{{data.species}}" />
                </div>
                <div class="column" style="width:10%">
                    <input name="data.rank" type="text" value="{{data.rank}}" />
                </div>
                <div class="column" style="width:25%">
                    <input name="data.assignment" type="text" value="{{data.assignment}}" />
                </div>
            </div>
            <div class="row">
                <div class="column bold title">
                    <div> {{localize 'sta.actor.character.environment'}} </div>
                </div>
                <div class="column bold title">
                    <div> {{localize 'sta.actor.character.upbringing'}} </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <input name="data.environment" type="text" value="{{data.environment}}" />
                </div>
                <div class="column">
                    <input name="data.upbringing" type="text" value="{{data.upbringing}}" />
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="main">
            <div class="row">
                <div class="column">
                    <div class="section attribute">
                        <div class="title">
                            {{localize 'sta.actor.attribute.title'}}
                        </div>
                        <div class="stat row">
                            <div class="selector-space"></div>
                            <div class="text bold">{{localize 'sta.actor.attribute.name'}}</div>
                            <div class="field bold">{{localize 'sta.actor.attdis.mod'}}</div>
                        </div>
                        {{#each data.attributes as |attribute key|}}
                        <div class="stat row">
                            <input class="selector attribute" id="{{key}}.selector" type="checkbox" name="data.attributes.{{key}}.selected" data-dtype="Boolean" {{checked attribute.selected}}>
                            <div class="text"> {{localize attribute.label}} </div>
                            <input class="field" id="{{key}}" name="data.attributes.{{key}}.value" type="text" value="{{attribute.value}}" />
                        </div>
                        {{/each}}
                        <div class="separator"></div>
                        <div class="check-button btn">{{localize 'sta.actor.attdis.task'}}</div>

                    </div>
                </div>
                <div class="column">
                    <div class="section stress">
                        <div class="title bold">
                            {{localize 'sta.actor.character.stress'}}
                        </div>
                        <div class="track">
                            <input type="hidden" id="total-stress" name="data.stress.value" value="{{data.stress.value}}" data-dtype="Number" />
                            <input type="hidden" id="max-stress" name="data.stress.max" value="{{data.stress.max}}" data-dtype="Number" />
                            <div id="bar-stress-renderer" class=" bar"></div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="section img">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                    </div>
                    <div class="separator"></div>
                    <div class="section determination">
                        <div class="title bold">
                            {{localize 'sta.actor.character.determination'}}
                        </div>
                        <div class="track">
                            <input type="hidden" id="total-determination" name="data.determination.value" value="{{data.determination.value}}" data-dtype="Number" />
                            <div class="bar">
                                <div id="bar-determination-renderer" class="bar"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="section discipline">
                        <div class="title">
                            {{localize 'sta.actor.discipline.title'}}
                        </div>
                        <div class="stat row">
                            <div class="field bold">{{localize 'sta.actor.attdis.mod'}}</div>
                            <div class="text bold">{{localize 'sta.actor.discipline.name'}}</div>
                            <div class="selector-space"></div>
                        </div>
                        {{#each data.disciplines as |discipline key|}}
                        <div class="stat row">
                            <input class="field" id="{{key}}" name="data.disciplines.{{key}}.value" type="text" value="{{discipline.value}}" placeholder="Name" />
                            <div class="text"> {{localize discipline.label}} </div>
                            <input class="selector discipline" id="{{key}}.selector" type="checkbox" name="data.disciplines.{{key}}.selected" data-dtype="Boolean" {{checked discipline.selected}}>
                        </div>
                        {{/each}}
                        <div class="separator"></div>
                        <div class="check-button btn">{{localize 'sta.actor.attdis.task'}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="section talents">
                        <div class="title">
                            {{localize 'sta.actor.talent.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="one-column-with-roll bold">{{localize 'sta.actor.genericitem.name'}}</div>
                            <a class="control create" title="Create item" data-type="talent"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item id|}}
                        {{#if (eq item.type "talent")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="one-column-with-roll" data-talent-name="{{item.name}}">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="column">
                    <div class="section values">
                        <div class="title">
                            {{localize 'sta.actor.value.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="one-column-with-roll bold">{{localize 'sta.actor.genericitem.name'}}</div>
                            <a class="control create" title="Create item" data-type="value"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item id|}}
                        {{#if (eq item.type "value")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="one-column-with-roll">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="column">
                    <div class="section focuses">
                        <div class="title">
                            {{localize 'sta.actor.focus.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="one-column-with-roll bold">{{localize 'sta.actor.genericitem.name'}}</div>
                            <a class="control create" title="Create item" data-type="focus"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item id|}}
                        {{#if (eq item.type "focus")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="one-column-with-roll">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="section note">
                        <div class="title">
                            {{localize 'sta.actor.note.title'}}
                        </div>
                        <div class="note">
                            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="section injuries">
                        <div class="title">
                            {{localize 'sta.actor.injury.title'}}
                        </div>
                        <div class="row item">
                            <div class="one-column-no-roll bold">{{localize 'sta.actor.genericitem.name'}}</div>
                            <a class="control create" title="Create item" data-type="injury"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item id|}}
                        {{#if (eq item.type "injury")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <h4 class="one-column-no-roll">{{item.name}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="column">
                    <div class="section belongings">
                        <div class="title">
                            {{localize 'sta.actor.belonging.title'}}
                        </div>
                        <div class="row item">
                            <div class="image"></div>
                            <div class="two-column-with-roll-primary advisory">{{localize 'sta.actor.belonging.weapon.title'}}</div>
                            <div class="two-column-with-roll-secondary advisory">{{localize 'sta.actor.belonging.weapon.dmg'}}</div>
                            <a class="control create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item type id|}}
                        {{#if (eq item.type "weapon")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="two-column-with-roll-primary">{{item.name}}</h4>
                            <h4 class="two-column-with-roll-secondary">{{item.data.damage}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                        <div class="row item">
                            <div class="image"></div>
                            <div class="two-column-with-roll-primary advisory">{{localize 'sta.actor.belonging.armor.title'}}</div>
                            <div class="two-column-with-roll-secondary advisory">{{localize 'sta.actor.belonging.armor.protect'}}</div>
                            <a class="control create" title="Create item" data-type="armor"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item type id|}}
                        {{#if (eq item.type "armor")}}
                        <li id="armor-{{item._id}}" class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}" data-item-helmet="{{item.data.helmet}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="two-column-with-roll-primary">{{item.name}}</h4>
                            <h4 id="protectval-armor-{{item._id}}" class="two-column-with-roll-secondary">{{item.data.protection}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                        <div class="row item">
                            <div class="image"></div>
                            <div class="two-column-with-roll-primary advisory">{{localize 'sta.actor.belonging.other.title'}}</div>
                            <div class="two-column-with-roll-secondary advisory">{{localize 'sta.actor.belonging.other.qty'}}</div>
                            <a class="control create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
                        </div>
                        {{#each actor.items as |item type id|}}
                        {{#if (eq item.type "item")}}
                        <li class="row entry" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                            <div class="image"><img class="rollable" src="{{item.img}}" title="{{item.name}}"/></div>
                            <h4 class="two-column-with-roll-primary">{{item.name}}</h4>
                            <h4 class="two-column-with-roll-secondary">{{item.data.quantity}}</h4>
                            <div class="control">
                                <a class="control edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="control delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>