<form id="dice-pool-form">
    <div class="flexcol">
		<div class="flexrow">
            <label>{{localize 'dishonored.apps.focus'}}</label>
            <input type="text" name="dicePoolFocus" min="1" max="5" value="1" id="dicePoolFocus">
        </div>
        <div class="flexrow" style="padding: 4px 0;">
            <div style="flex: 1;"><label>{{localize 'dishonored.apps.pool'}}</label></div>
            <div style="flex: 1;display: flex;flex-direction: column;">
                <div class="flexrow">
                    <span style="flex: 1; text-align: left;">{{localize 'dishonored.counting.one'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">{{localize 'dishonored.counting.two'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">{{localize 'dishonored.counting.three'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">{{localize 'dishonored.counting.four'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: right;">{{localize 'dishonored.counting.five'}}</span>
                </div>
                <input type="range" name="dicePoolSlider" min="1" max="5" value="2" class="slider" id="dicePoolSlider">
            </div>
        </div>
    </div>    
</form>