<div id="sta-chaos-tracker" class="sta tracker app chaos">
    <div class="button-group">
        <div id="sta-chaos-track-decrease" class="button sta-impermitable">
            <i class="fas fa-minus"></i>
        </div>
        <div>
            <input type="text" class="input" id="sta-track-chaos" data-dtype="Number" />
        </div>
        <div id="sta-chaos-track-increase" class="button sta-impermitable">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="header">
        {{localize 'sta.tracker.threat'}}
    </div>
</div>
<div id="sta-momentum-tracker" class="sta tracker app momentum">
    <div class="button-group">
        <div id="sta-momentum-track-decrease" class="button sta-impermitable">
            <i class="fas fa-minus"></i>
        </div>
        <div>
            <input type="text" class="input" id="sta-track-momentum" data-dtype="Number" />
        </div>
        <div id="sta-momentum-track-increase" class="button sta-impermitable">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="header">
        {{localize 'sta.tracker.momentum'}}
    </div>
</div>