<div id="dishonored-chaos-tracker" class="dishonored tracker app chaos">
    <div class="button-group">
        <div id="dishonored-chaos-track-decrease" class="button dishonored-impermitable">
            <i class="fas fa-minus"></i>
        </div>
        <div>
            <input type="text" class="input" id="dishonored-track-chaos" data-dtype="Number" />
        </div>
        <div id="dishonored-chaos-track-increase" class="button dishonored-impermitable">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="header">
        {{localize 'sta.tracker.threat'}}
    </div>
</div>
<div id="dishonored-momentum-tracker" class="dishonored tracker app momentum">
    <div class="button-group">
        <div id="dishonored-momentum-track-decrease" class="button dishonored-impermitable">
            <i class="fas fa-minus"></i>
        </div>
        <div>
            <input type="text" class="input" id="dishonored-track-momentum" data-dtype="Number" />
        </div>
        <div id="dishonored-momentum-track-increase" class="button dishonored-impermitable">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="header">
        {{localize 'sta.tracker.momentum'}}
    </div>
</div>