<form class="{{cssClass}}" autocomplete="off">
    <div class="header-fields">
        <div class="row">
            <img class="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="column-x2-big">
                <label>{{localize 'sta.actor.genericitem.name'}}</label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </div>
            <div class="column-x2-x3-small">
                <label>{{localize 'sta.actor.focus.rating'}}</label>
                <input type="text" name="data.rating" value="{{data.rating}}" data-dtype="Number" />
            </div>
        </div>
    </div>
    <div class="description">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>