<form class="{{cssClass}}" autocomplete="off">
    <div class="header-fields">
        <div class="row">
            <img class="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="column-x2-big">
                <label>{{localize 'dishonored.actor.genericitem.name'}}</label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </div>
            <div class="column-x2-x3-small">
                <label>{{localize 'dishonored.actor.genericitem.cost'}}</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
            </div>
        </div>
        <div class="row">
            <div class="column-x4"> 
                <input class="input" type="checkbox" name="data.qualities.armorpierce" data-dtype="Boolean" {{checked data.qualities.armorpierce}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.armorpierce'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.awkward" data-dtype="Boolean" {{checked data.qualities.awkward}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.awkward'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.blast" data-dtype="Boolean" {{checked data.qualities.blast}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.blast'}}</label>
            </div>
            <div class="column-x4">
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.damage'}}</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number" />
            </div>
        </div>
        <div class="row">
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.block" data-dtype="Boolean" {{checked data.qualities.block}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.block'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.burn" data-dtype="Boolean" {{checked data.qualities.burn}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.burn'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.concealed" data-dtype="Boolean" {{checked data.qualities.concealed}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.concealed'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.melee" data-dtype="Boolean" {{checked data.qualities.melee}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.melee'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.messy" data-dtype="Boolean" {{checked data.qualities.messy}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.messy'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.mine" data-dtype="Boolean" {{checked data.qualities.mine}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.mine'}}</label>
            </div>
            <div class="column-x4">
                <input class="" type="checkbox" name="data.qualities.rangeddistant" data-dtype="Boolean" {{checked data.qualities.rangeddistant}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.rangeddistant'}}</label>
            </div>
            <div class="column-x4">
                <input class="" type="checkbox" name="data.qualities.rangednearby" data-dtype="Boolean" {{checked data.qualities.rangednearby}}>
                <label class="label">{{localize 'dishonored.actor.belonging.weapon.rangednearby'}}</label>
            </div>
        </div>
    </div>
    <div class="description">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>