/* Window Content Overrides */

.sta .window-content {
  background: #0F0F0F;
  padding: 0;
}

.sta .main-content {
  background: #0F0F0F !important;
  padding: 5px;
}


/* Globals */

.sta .bold {
  font-weight: bold;
}

.sta .title {
  text-align: center;
  font-size: 14pt;
}

.sta .row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.sta .row .column {
  flex-direction: column;
  text-align: center;
}

.sta .btn {
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.sta .btn:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta .unset-clickables:hover {
  box-shadow:unset !important;
  text-shadow:unset !important;
  cursor:unset !important;
  content:unset !important;
}


/* Globals - Trackers */

.sta .track {
  display: flex;
  flex-direction: row;
}

.sta .track .bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sta .track .bar .box {
  height: 14px;
  border: 1px solid #0f0f0f;
  border-collapse: collapse;
  padding: 0px;
  display: block;
  font-size: 8pt;
  text-align: center;
}

.sta .track .bar .box:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}


/* Actor - LCARS Layout */

/* .sta.sheet.actor .editable {
  display: flex;
} */

.sta.sheet.actor .header {
  display: flex;
}

.sta.sheet.actor .lcars-column {
  flex: 10%;
}

.sta.sheet.actor .lcars-header-block1 {
  height: 30%;
  background-color: #9944FF;
  border-bottom: 4px solid #0F0F0F;
}

.sta.sheet.actor .lcars-header-block2 {
  height: 70%;
  background-color: #4455FF;
  border-bottom: 4px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-title-block {
  height: 47px;
  background-color: #444A77;
  border-bottom-left-radius: 100px;
}

.sta.sheet.actor .lcars-column .lcars-item1-connect-block, 
.sta.sheet.actor .lcars-column .lcars-item2-connect-block {
  height: 40px;
  background-color: #444A77;
  border-top-left-radius: 100px;
}

.sta.sheet.actor .lcars-column .lcars-item1-top-block {
  height: 30px;
  background-color: #9944FF;
  border-bottom: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-top-block {
  height: 30px;
  background-color: #7788FF;
  border-bottom: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block1 {
  background-color: #CC33FF;
  height: 25%;
  border-top-left-radius: 100px;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block2 {
  background-color: #FF7700;
  height: 40%;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block3 {
  background-color: #9944FF;
  height: 25%;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item1-general-block {
  background-color: #7788FF;
  height: 80%;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-general-block1 {
  background-color: #FF2200;
  height: 30%;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-general-block2 {
  background-color: #FFAA00;
  height: 50%;
  border-top: 5px solid #0F0F0F;
}


/* Actor - Text Fields - Colors */

.sta.sheet.actor .title {
  color: #DD4444;
  height: 30px;
}

.sta.sheet.actor .list-entry,
.sta.sheet.actor .editor {
  color: #33CCCC;
}

.sta.sheet.actor .editor .editor-edit {
  color: #000000;
}

.sta.sheet.actor .secondary-title {
  color: #0f0f0f;
}

.sta.sheet.actor .numeric-entry {
  color: #CC88FF;
}

.sta.sheet.actor .main .row .column .section .header.row {
  background-color: #444A77;
  color: #0f0f0f;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 2px solid #0F0F0F;
}

/* Actor - Header Section - Globals */

.sta.sheet.actor .header-fields {
  flex: 90%;
  top: 0;
  padding: 5px;
}

.sta.sheet.actor .header-fields .row .column {
  display: flex;
  width: 100%;
}


/* Actor - Header Section - Specific - Trackers */

.sta.sheet.actor .header-fields .section.reputation .title {
  font-size: 14px;
}


/* Actor - Main Section - Globals */

.sta.sheet.actor .main {
  flex: 1;
}

.sta.sheet.actor .main .row {
  max-height: 250px;
}

.sta.sheet.actor .main .row .limited-only {
  height: 20px;
}

.sta.sheet.actor .main .row .column {
  flex: 30%;
  overflow-y: auto;
}

.sta.sheet.actor .column.left-column {
  border-right: 2px solid #0F0F0F;
}

.sta.sheet.actor .column.center-column {
  border-right: 2px solid #0F0F0F;
  border-left: 2px solid #0F0F0F;
}

.sta.sheet.actor .column.right-column {
  border-left: 2px solid #0F0F0F;
}

.sta.sheet.actor .main .row .column .section .profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.actor .main .row .column .section .title {
  font-size: 18pt;
  font-weight: bold;
}

.sta.sheet.actor .main .row .column .section .row {
  display: flex;
  flex-direction: row;
}

.sta.sheet.actor .main .row .column .section .entry.row {
  display: flex;
  flex-direction: row;
}

.sta.sheet.actor .main .row .column .section .note,
.sta.sheet.actor .main .row .column .section .milestone,
.sta.sheet.actor .main .row .column .section .injury {
  height: 200px;
  text-align: left;
}

.sta.sheet.actor .main .row .column .section .note .editor,
.sta.sheet.actor .main .row .column .section .milestone .editor,
.sta.sheet.actor .main .row .column .section .injury .editor {
  height: 100%;
  padding: 5px;
}


/* Actor - Main Section - Specific - Attributes/Disciplines */

.sta.sheet.actor .main .row .column .section .stat.row .field {
  width: 20%;
}

.sta.sheet.actor .main .row .column .section .stat.row .text {
  width: calc(80% - 30px);
}

.sta.sheet.actor .main .row .column .section .stat.row .selector-space {
  width: 30px;
}

.sta.sheet.actor .main .row .column .section .stat.row .selector {
  border: 1px solid;
  border-collapse: collapse;
  padding: 0px;
  display: block;
}

.sta.sheet.actor .main .row .column .section .stat.row .selector:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta.sheet.actor .main .row .column .section .check-button {
  width: 75%;
  height: 30px;
  line-height: 30px;
  margin: 5px 12.5%;
  font-size: 14pt;
}


/* Actor - Main Section - Specific - Items */

.sta.sheet.actor .main .row .column .section .row .image {
  width: 26px;
}

.sta.sheet.actor .main .row .column .section .row .image img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.actor .main .row .column .section .row .image .rollable:hover {
  content: url("/icons/svg/d20-grey.svg");
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta.sheet.actor .main .row .column .section .row .control {
  color: #FFCC33;
  width: 34px;
  padding-right: 2px;
}

.sta.sheet.actor .main .row .column .section .row .one-column-with-roll {
  width: calc(100% - 58px);
}

.sta.sheet.actor .main .row .column .section .row .one-column-no-roll {
  width: calc(100% - 32px);
  padding-left: 26px;
}

.sta.sheet.actor .main .row .column .section .row .two-column-with-roll-primary {
  width: calc((100% - 58px)*0.75);
}

.sta.sheet.actor .main .row .column .section .row .two-column-with-roll-secondary {
  width: calc((100% - 58px)*0.25);
}

.sta.sheet.actor .main .row .column .section .row .column-x2 {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .column-x2-big {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .column-x2-small {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .column-x4 {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .small input {
  height: 17px;
  color:#CC88FF;
}

.sta.sheet.actor .main .row .column .section .row .small.disabled input {
  box-shadow: none;
  cursor: default;
  color: grey;
}



/* Actor - Main Section - Specific - Equipable Specific */

.sta.sheet.actor .main .row .column .section .row.equipable .control {
  width: 56px;
}

.sta.sheet.actor .main .row .column .section .row.equipable .column-x2 {
  width: calc((100% - 80px)/2);
}

.sta.sheet.actor .main .row .column .section .row.equipable .column-x2-big {
  width: calc(3*((100% - 80px)/4));
}

.sta.sheet.actor .main .row .column .section .row .equipable.column-x2-small {
  width: calc((100% - 80px)/4);
}


/* Item - Globals */

.sta.sheet.item .header-fields {
  font-weight: bold;
  font-size: 12pt;
}

.sta.sheet.item .header-fields .row .img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.item input[type="text"],
.sta.sheet.item .text,
.sta.sheet.item .entry,
.sta.sheet.item .editor {
  color: #CC88FF;
}

.sta.sheet.item .editor .editor-edit {
  color: #000000;
}

.sta.sheet.item .header-fields .row .column-x3-big {
  width: calc(40% - 50px);
}

.sta.sheet.item .header-fields .row .column-x3-big {
  width: calc(60% - 50px);
}

.sta.sheet.item .header-fields .row .column-x2 {
  width: calc(50% - 25px);
}

.sta.sheet.item .header-fields .row .column-x2-big {
  width: calc(80% - 50px);
}

.sta.sheet.item .header-fields .row .one-column-with-roll {
  width: calc(100% - 50px);
}

.sta.sheet.item .header-fields .row .column-x2-x3-small {
  width: 20%;
}

.sta.sheet.item .description {
  height: calc(100% - 50px);
}

.sta.sheet.item .description .editor {
  height: 100%;
}


/* Item - Weapon Specific */

.sta.sheet.item.weapon .header-fields .row .column-x4 {
  width: 25%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.sta.sheet.item.weapon .header-fields .row .column-x4 .label {
  font-size: 14px;
  line-height: 26px;
}

.sta.sheet.item.weapon .description {
  height: calc(100% - 128px);
}

/* Dice Pool */

.dice-pool .flexrow {
  padding: 4px 5px;
}



/* Roll - Globals */

.sta.roll .dice-roll .dice-result .dice-tooltip {
  display: block;
}



/* Roll - Attribute Test */

.sta.roll.attribute .dice-roll .dice-result .dice-formula .aim {
  margin: 0;
  background: unset;
  border: 0;
}

.sta.roll.attribute .dice-roll .dice-result .dice-tooltip .dice .dice-rolls {
  display: flex; 
  justify-content: center;
}



/* Roll - Generic */

.sta.roll.generic .dice-roll .dice-result .dice-formula {
  box-shadow: none;
  line-height: normal;
  cursor: pointer;
  word-break: normal;
}

.sta.roll.generic .dice-roll .dice-result .dice-formula.title {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  text-align: left;
}

.sta.roll.generic .dice-roll .dice-result .dice-formula .img {
  height: 45px;
}

.sta.roll.generic .dice-roll .dice-result .tags {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.sta.roll.generic .dice-roll .dice-result .tags .tag {
  width: calc(100%/3);
  font-size: 12px;
  flex-grow: 1;
  border: 0.5px solid black;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0.3);
}



/* Tracker - Generic */

.sta.tracker {
  position: absolute;
  display: block;
  width: 200px;
  height: 70px;
  margin: 5px;
  margin-right: 0;
  border: 1px solid black;
}

.sta.tracker.threat {
  bottom: 0;
  right: 304px;
}

.sta.tracker.momentum {
  bottom: 80px;
  right: 304px;
}

.sta.tracker .header {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.sta.tracker .button-group {
  display: flex;
  font-size: 1.5em;
}

.sta.tracker .button-group .button {
  padding: 0 10px;
  cursor: pointer;
}

.sta.tracker .button-group .button:hover {
  text-shadow: 0 0 8px red;
}

.sta.tracker .button-group .input {
  color: #CC88FF;
  text-align: center;
}


/* Logo - Generic */

.sta.logo {
  position: absolute;
  display: block;
  margin-right: 0;
  left: 110px;
  top: 15px;
  z-index: 61;
  color: #000;
  text-decoration: none;
}

.sta.logo img {
  width: 150px;
  border: none;
}

.sta.logo div {
  font-size: 30px;
  line-height: 0.7;
  text-align: center;
}


/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@font-face {
  font-family: Okuda;
  src: url("/systems/FVTT-StarTrekAdventures/styles/fonts/Okuda.otf") format("opentype");
}

@font-face {
  font-family: "Context Ultra Condensed";
  src: url("/systems/FVTT-StarTrekAdventures/styles/fonts/Context Ultra Condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Swiss 911 Ultra Compressed";
  src: url("/systems/FVTT-StarTrekAdventures/styles/fonts/Swiss 911 Ultra Compressed.ttf") format("truetype");
}
