/* Window Content Overrides */

.sta .window-content {
  background: #0F0F0F;
  padding: 0;
}

.sta .main-content {
  background: #0F0F0F !important;
  padding: 5px;
}


/* Globals */

.sta .title {
  text-align: center;
  font-size: 14pt;
}

.sta .row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.sta .row .column {
  flex-direction: column;
  text-align: center;
}

.sta .btn {
  background-color: #DD4444;
  color: #000000;
  border-radius: 20px;
}

.sta .btn:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta .unset-clickables:hover {
  box-shadow:unset !important;
  text-shadow:unset !important;
  cursor:unset !important;
  content:unset !important;
}


/* Globals - Trackers */

.sta .track {
  display: flex;
  flex-direction: row;
}

.sta .track .bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sta .track .bar .box, 
.sta .extendedtask-track .extendedtask-bar .extendedtask-box {
  height: 14px;
  border: 1px solid #666688;
  border-radius: 14px;
  border-collapse: collapse;
  padding: 0px;
  display: block;
  font-size: 8pt;
  text-align: center;
}

.sta .extendedtask-track .extendedtask-bar .extendedtask-box {
  height: 28px;
  font-size: 16pt;
}

.sta .track .bar .box:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}


/* Actor - LCARS Layout */

.sta.sheet.actor .header {
  display: flex;
}

.sta.sheet.actor .lcars-column {
  flex: 10%;
  display:flex;
  flex-flow: column;
}

.sta.sheet.actor .lcars-header-block1 {
  flex: 3;
  background-color: #9944FF;
  border-bottom: 4px solid #0F0F0F;
}

.sta.sheet.actor .lcars-header-block2 {
  flex: 7;
  background-color: #4455FF;
  border-bottom: 4px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-title-block {
  background-color: #444A77;
  border-bottom-left-radius: 40px;
  flex: 0 1 47px;
}

.sta.sheet.actor .lcars-column .lcars-item1-connect-block, 
.sta.sheet.actor .lcars-column .lcars-item2-connect-block {
  flex: 0 1 40px;
  background-color: #444A77;
  border-top-left-radius: 40px;
}

.sta.sheet.actor .lcars-column .lcars-item1-top-block {
  flex: 0 1 30px;
  background-color: transparent;
  border-bottom: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-top-block {
  flex: 0 1 30px;
  background-color: #7788FF;
  border-bottom: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block1 {
  background-color: #CC33FF;
  flex: 1;
  border-top-left-radius: 40px;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block2 {
  background-color: #FF7700;
  flex: 2;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-attribute-general-block3 {
  background-color: #9944FF;
  flex: 1;
  border-top: 5px solid #0F0F0F;
  border-bottom-left-radius: 40px;
}

.sta.sheet.actor .lcars-column .lcars-item1-general-block {
  background-color: #7788FF;
  flex: 1;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-general-block1 {
  background-color: #FF2200;
  flex: 1;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column .lcars-item2-general-block2 {
  background-color: #FFAA00;
  flex: 2;
  border-top: 5px solid #0F0F0F;
}

.sta.sheet.actor .lcars-column-extendedtask {
  display:flex;
  flex-flow: column;
  width: 10%;
}

.sta.sheet.actor .lcars-header-extendedtask1 {
  background-color: #CC33FF;
  border-bottom: 5px solid #0F0F0F;
  flex: 1;
  width: 100%;
}


.sta.sheet.actor .lcars-header-extendedtask2 {
  background-color: #FFAA00;
  border-bottom: 5px solid #0F0F0F;
  flex: 1;
  width: 100%;
}

.sta.sheet.actor .lcars-header-extendedtask3 {
  background-color: #444A77;
  flex: 1;
  width: 100%;
}

.sta.sheet.actor .lcars-header-extendedtask4 {
  background-color: #444A77;
  flex: 0 1 27px;
  width: 100%;
  border-bottom: 5px solid #0F0F0F;
  border-bottom-left-radius: 40px;
}

.sta.sheet.actor .lcars-body-extendedtask1 {
  background-color: #0F0F0F;
  flex: 0 1 33px;
  width: 100%;
}

.sta.sheet.actor .lcars-body-extendedtask2 {
  background-color: #444A77;
  flex: 1 1 auto;
  width: 100%;
  border-top-left-radius: 40px;
}



/* Actor - Text Fields - Colors */

.sta.sheet.actor .title {
  height: 30px;
}

.sta.sheet.actor .title,
.sta-form .label {
  color: #FAA41B;
}

.sta.sheet.actor .list-entry,
.sta.sheet.actor .editor,
.sta.sheet.actor .label,
.sta.sheet.item .label,
.app.dialog .window-content .dialog-content {
  color: #33CCCC;
}

.sta.sheet.actor .editor .editor-edit {
  color: #000000;
}

.sta.sheet.actor .secondary-title {
  color: #000000;
}

.sta.sheet.actor .numeric-entry,
.sta.sheet.actor .text-entry,
.sta-form .numeric-entry,
.app.dialog .window-content .form-fields input, 
.app.dialog .window-content .form-fields select { 
  color: #CC88FF;
}

.app.dialog .window-content .form-fields select {
  color: #000000;
}

.sta.sheet.actor .main .row .column .section .header.row {
  background-color: #444A77;
  color: #000000;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 2px solid #000000;
}

.sta.sheet.actor .tox.tox-tinymce .tox-edit-area__iframe, 
.sta.sheet.item .tox.tox-tinymce .tox-edit-area__iframe {
  background-color: #FFFFFF;
}

/* Actor - Header Section - Globals */

.sta.sheet.actor .header-fields {
  flex: 90%;
  top: 0;
  padding: 5px;
}

.sta.sheet.actor .header-fields .row .column {
  display: flex;
  width: 100%;
}


/* Actor - Header Section - Specific - Trackers */

.sta.sheet.actor .header-fields .section.reputation .title {
  font-size: 14px;
}


/* Actor - Main Section - Globals */

.sta.sheet.actor .main {
  flex: 1;
}

.sta.sheet.actor .main .row {
  max-height: 300px;
}

.sta.sheet.actor .main .row .limited-only {
  height: 20px;
}

.sta.sheet.actor .main .row .column {
  flex: 30%;
  overflow-y: auto;
}

.sta.sheet.actor .column.left-column {
  border-right: 2px solid #0F0F0F;
}

.sta.sheet.actor .column.center-column {
  border-right: 2px solid #0F0F0F;
  border-left: 2px solid #0F0F0F;
}

.sta.sheet.actor .column.right-column {
  border-left: 2px solid #0F0F0F;
}

.sta.sheet.actor .main .row .column .section .profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.actor .main .row .column .section .title {
  font-size: 18pt;
}

.sta.sheet.actor .main .row .column .section .row {
  display: flex;
  flex-direction: row;
}

.sta.sheet.actor .main .row .column .section .entry.row {
  display: flex;
  flex-direction: row;
}

.sta.sheet.actor .main .row .column .section .note,
.sta.sheet.actor .main .row .column .section .milestone,
.sta.sheet.actor .main .row .column .section .injury {
  height: 200px;
  text-align: left;
}

.sta.sheet.actor .main .row .column .section .note .editor,
.sta.sheet.actor .main .row .column .section .milestone .editor,
.sta.sheet.actor .main .row .column .section .injury .editor {
  height: 100%;
  padding: 5px;
}


/* Actor - Main Section - Specific - Attributes/Disciplines */

.sta.sheet.actor .main .row .column .section .stat.row .field {
  width: 20%;
}

.sta.sheet.actor .main .row .column .section .stat.row .text {
  width: calc(80% - 30px);
}

.sta.sheet.actor .main .row .column .section .stat.row .selector-space {
  width: 30px;
}

.sta.sheet.actor .main .row .column .section .stat.row .selector {
  border: 1px solid;
  border-collapse: collapse;
  padding: 0px;
  display: block;
}

.sta.sheet.actor .main .row .column .section .stat.row .selector:hover {
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta.sheet.actor .check-button {
  width: 75%;
  height: 30px;
  line-height: 30px;
  margin: 5px 12.5%;
  font-size: 14pt;
}

.sta.sheet.actor .row  .column .value-used {
  height: 17px;
}

.sta.sheet.actor .main .row .column .section.scale, 
.sta.sheet.actor .main .row .column .section.resistance {
  display: flex;
  background-color: #9944FF;
  height: 41px;
}

.sta.sheet.actor .main .row .column .section.scale .title, 
.sta.sheet.actor .main .row .column .section.resistance .title {
  background-color: #0F0F0F;
  width: 75%;
  margin-top: 5px;
}


.sta.sheet.actor .main .row .column .section.scale .title {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 10%;
}

.sta.sheet.actor .main .row .column .section.scale .field.numeric-entry, 
.sta.sheet.actor .main .row .column .section.resistance .field.numeric-entry {
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 0px;
  margin-top: 5px;
  background-color: #0F0F0F;
}

.sta.sheet.actor .main .row .column .section.section.resistance .field.numeric-entry{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10%;
}


/* Actor - Main Section - Specific - Items */

.sta.sheet.actor .main .row .column .section .row .image {
  width: 26px;
}

.sta.sheet.actor .main .row .column .section .row .image img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.actor .main .row .column .section .row .image .rollable:hover {
  content: url("/icons/svg/d20-grey.svg");
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta.sheet.actor .main .row .column .section .row .image .chat:hover {
  content: url("/systems/sta/icons/chat-bubble.svg");
  box-shadow: 0 0 8px red;
  cursor: pointer;
}

.sta.sheet.actor .main .row .column .section .row .image .click-to-nav {
  cursor: pointer;
}

.sta.sheet.actor .main .row .column .section .row .control {
  color: #FFCC33;
}

.sta.sheet.actor .main .row .column .section .row .control .delete {
  color: #DD4444;
}

.sta.sheet.actor .main .row .column .section .row .control {
  width: 40px;
  padding-right: 2px;
}

.sta.sheet.actor .main .row .column .section .row .one-column-with-roll {
  width: calc(100% - 58px);
}

.sta.sheet.actor .main .row .column .section .row .one-column-no-roll {
  width: calc(100% - 32px);
  padding-left: 26px;
}

.sta.sheet.actor .main .row .column .section .row .two-column-with-roll-primary {
  width: calc((100% - 58px)*0.75);
}

.sta.sheet.actor .main .row .column .section .row .two-column-with-roll-secondary {
  width: calc((100% - 58px)*0.25);
}

.sta.sheet.actor .main .row .column .section .row .column-x2 {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .row .column-x2-big {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .column-x2-small {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .column-x4 {
  width: 90%;
  padding-left: 10%;
}

.sta.sheet.actor .main .row .column .section .row .small input {
  height: 17px;
  color:#CC88FF;
}

.sta.sheet.actor .main .row .column .section .row .small.disabled input {
  box-shadow: none;
  cursor: default;
  color: grey;
}

.sta.sheet.actor .list-entry.strike-through {
  text-decoration: line-through;
}


/* Actor - Main Section - Specific - Equipable Specific */

.sta.sheet.actor .main .row .column .section .row.equipable .control {
  width: 56px;
}

.sta.sheet.actor .main .row .column .section .row.equipable .column-x2 {
  width: calc((100% - 80px)/2);
}

.sta.sheet.actor .main .row .column .section .row.equipable .column-x2-big {
  width: calc(3*((100% - 80px)/4));
}

.sta.sheet.actor .main .row .column .section .row .equipable.column-x2-small {
  width: calc((100% - 80px)/4);
}

/*  Actor - Talent Tooltips */

.sta.sheet.actor .main .row .column .section .entry.row.talent-tooltip-container.hide {
  border: 0px dashed #FF7700;
  height: 0px;
  -webkit-transition: height 0.5s linear, border-width 0.5s linear;
    -moz-transition: height 0.5s linear, border-width 0.5s linear;
      -ms-transition: height 0.5s linear, border-width 0.5s linear;
        -o-transition: height 0.5s linear, border-width 0.5s linear;
          transition: height 0.5s linear, border-width 0.5s linear;
}

.sta.sheet.actor .main .row .column .section .entry.row.talent-tooltip-container {
  overflow-y: hidden;
  border:.5px dashed #FF7700;
  height: 200px;
  -webkit-transition: height 0.5s linear, border-width 0.5s linear;
    -moz-transition: height 0.5s linear, border-width 0.5s linear;
      -ms-transition: height 0.5s linear, border-width 0.5s linear;
        -o-transition: height 0.5s linear, border-width 0.5s linear;
          transition: height 0.5s linear, border-width 0.5s linear;
}


/* Actor - Extended Tasks */

.sta.sheet.actor .row .column-headerfields1-name-extendedtasks {
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.sta.sheet.actor .row .column-headerfields1-other-extendedtasks {
  width: 15%;
}

.sta.sheet.actor .row .column-headerfields2-extendedtasks {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2px;
}

.sta.sheet.actor .column-headerfields1-name-extendedtasks .numeric-entry, 
.sta.sheet.actor .column-headerfields1-other-extendedtasks .numeric-entry, 
.sta.sheet.actor .column-headerfields2-extendedtasks .numeric-entry {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.sta.sheet.actor .row .extendedtask-track {
  width:90%;
}

.sta.sheet.actor .extendedtask-divider {
  background-color:#444A77;
  height: 17px;
  width:100%; 
  color:#0F0F0F; 
  text-align:center; 
  margin-top:5px; 
  margin-bottom:5px; 
  font-weight:bold;
}

.extendedtask-box {
  cursor: pointer;
}


/* Item/Form - Globals */

.sta.sheet.item .header-fields {
  font-size: 12pt;
}

.sta.sheet.item .header-fields .row .img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 0;
}

.sta.sheet.item input[type="text"],
.sta.sheet.item input[type="number"],
.sta.sheet.item select,
.sta.sheet.item .text,
.sta.sheet.item .entry,
.sta.sheet.item .editor {
  color: #CC88FF;
}

.sta.sheet.item option {
  background-color: #0F0F0F;
}

.sta.sheet.item input[type="number"] {
  text-align: center;
  width: 50px;
  margin-left: 10px;
}

.sta.sheet.item .editor .editor-edit {
  color: #000000;
}

.sta.sheet.item .header-fields .row .column-x3-big {
  width: calc(40% - 50px);
}

.sta.sheet.item .header-fields .row .column-x3-big {
  width: calc(60% - 50px);
}

.sta.sheet.item .header-fields .row .column-x2 {
  width: calc(50% - 25px);
}

.sta.sheet.item .header-fields .row .column-x2-big {
  width: calc(80% - 50px);
}

.sta.sheet.item .header-fields .row .one-column-with-roll {
  width: calc(100% - 50px);
}

.sta.sheet.item .header-fields .row .column-x2-x3-small {
  width: 20%;
}

.sta.sheet.item .description {
  height: calc(100% - 50px);
}

.sta.sheet.item .description .editor {
  height: 100%;
}


/* Item - Weapon Specific */

.sta.sheet.item.characterweapon .header-fields .row .column-x4,
.sta.sheet.item.starshipweapon .header-fields .row .column-x4 {
  width: 25%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.sta.sheet.item.characterweapon .header-fields .row .column-x4 .label,
.sta.sheet.item.starshipweapon .header-fields .row .column-x4 .label {
  font-size: 14px;
  line-height: 26px;
}

.sta.sheet.item.characterweapon .description,
.sta.sheet.item.starshipweapon .description {
  height: calc(100% - 128px);
}

/* Dice Pool */

.dice-pool .flexrow {
  padding: 4px 5px;
}



/* Roll - Globals */

.sta.roll .dice-roll .dice-result .dice-tooltip {
  display: block;
}



/* Roll - Attribute Test */

.sta.roll.attribute .dice-roll .dice-result .dice-formula .aim {
  margin: 0;
  background: unset;
  border: 0;
}

.sta.roll.attribute .dice-roll .dice-result .dice-tooltip .dice .dice-rolls {
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}



/* Roll - Generic */

.sta.roll.generic .dice-roll .dice-result .dice-formula {
  box-shadow: none;
  line-height: normal;
  cursor: pointer;
  word-break: normal;
}

.sta.roll.generic .dice-roll .dice-result .dice-formula.title {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  text-align: left;
}

.sta.roll.generic .dice-roll .dice-result .dice-formula .img {
  height: 45px;
}

.sta.roll.generic .dice-roll .dice-result .tags {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.sta.roll.generic .dice-roll .dice-result .tags .tag {
  width: calc(100%/3);
  font-size: 12px;
  flex-grow: 1;
  border: 0.5px solid black;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.dice-roll .dice-total.effect {
  color: #33CCCC;
}


/* Generic Dialog */

.dialog > .window-content {
  padding: 0px;
}

.dialog > .window-content > .dialog-content {
  background-color: #0F0F0F;
  padding: 8px;
}

.window-content .dialog-buttons {
  background-color: #0F0F0F;
}

.window-content .dialog-button.roll.default, 
.window-content .dialog-button.ok.default, 
.window-content .dialog-button.yes.default, 
.window-content .dialog-button.no, 
.chat-message.message .reroll-result { 
  background-color: #DD4444;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


/* Tracker - Generic */

.sta.tracker {
  position: absolute;
  display: block;
  margin-right: 0;
  height: 100px;
  width: 200px;
  background: none;
  border-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0;
  clip-path: inset(-20px 0px -20px -20px);
}

.sta.tracker.threat {
  bottom: 0;
  right: 0px;
  background-color: #FF2200;
}

.sta.tracker.momentum {
  bottom: 105px;
  right: 0px;
  background-color: #5588FF;
}

#sidebar:not(.collapsed) ~ .sta.tracker.momentum, 
#sidebar:not(.collapsed) ~ .sta.tracker.threat {
  right: 354px;
}


.sta.tracker .header {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
  background-color: #0F0F0F;
  border-bottom-left-radius: 30px;
  width: 185px;
  height: 35px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.sta.tracker .button-group {
  display: flex;
  font-size: 1.5em;
  background-color: #0F0F0F;
  border-top-left-radius: 30px;
  width: 185px;
  height: 35px;
  margin-left: 15px;
  margin-top: 15px;
}

.sta.tracker .button-group .button {
  cursor: pointer;
}

.sta.tracker .button-group .button.decrease {
  padding-left: 50px;
  padding-right: 10px;
}

.sta.tracker .button-group .button.increase {
  padding-left: 10px;
  padding-right: 50px;
}

.sta.tracker .button-group .button:hover {
  text-shadow: 0 0 8px red;
}

.sta.tracker .button-group .input {
  color: #CC88FF;
  text-align: center;
  border: none;
  width: 100%;
}


/* Logo - Generic */

.sta.logo {
  position: absolute;
  display: block;
  margin-right: 0;
  left: 110px;
  top: 55px;
  z-index: 1;
  color: #000;
  text-decoration: none;
}

.sta.logo img {
  width: 150px;
  border: none;
}

.sta.logo div {
  font-size: 30px;
  line-height: 0.7;
  text-align: center;
}

/* Sidebar */

#sidebar:not(.collapsed) {
  background: none;
  border:none;
  background-color: #FFAA00;
  width: 350px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 0;
}

#sidebar::before {
  content: "";
  position: absolute;
  bottom: 60%;
  right: 300px;
  height: 25%;
  width: 50px;
  background-color: #33CCCC; 
  border-top: 5px solid #0F0F0F;
  border-bottom: 5px solid #0F0F0F;
}

#sidebar::after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 300px;
  height: 20%;
  width: 50px;
  background-color: #FF7700; 
  border-top: 5px solid #0F0F0F;
  border-bottom: 5px solid #0F0F0F;
}

#sidebar > #sidebar-tabs {
  color: #000000;
  margin-bottom: 0;
  border-bottom: none;
  box-shadow: none;
}

#sidebar:not(.collapsed) > #sidebar-tabs {
  margin-left: 50px;
}

#sidebar-tabs > .item {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  color: #000000;
}

#sidebar-tabs > .collapse {
  background-color: #CC88FF;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  color: #000000;
}

#sidebar:not(.collapsed) > #sidebar-tabs > .item {
  border-left: 4px solid #0F0F0F;
}

#sidebar:not(.collapsed) > #sidebar-tabs > .item.active {
  border-left: 4px solid #0F0F0F;
}

#sidebar:not(.collapsed) > #sidebar-tabs > .collapse {
  border-left: 4px solid #0F0F0F;
  border-right: 4px solid #0F0F0F;
}

#sidebar-tabs > .item:nth-child(odd) {
  background-color: #CC88FF;
}

#sidebar-tabs > .item:nth-child(even) {
  background-color: #4455FF;
}

#sidebar-tabs > .item.active {
  box-shadow: none;
  background-color: #DD4444;
  border-bottom: none;
  border-top: none;
  color: #FEFEFF;
}

#sidebar .sidebar-tab {
  background: #0F0F0F;
  border-top: 5px solid #0F0F0F;
  width: 300px;
  margin-left: 50px;
}


/* Chat Log */

.app .chat-message.message{
  background: #1F1F1F
}

.app .chat-message.message .message-header, 
.app .chat-message.message .message-content {
  color: #FEFEFF;
}

.reroll-result {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
  margin-top: 5px;
}


/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}