<form class="{{cssClass}}" autocomplete="off">
  <div class="header-fields">
      <div class="row">
          <img class="img" src="{{img}}" data-edit="img" title="{{name}}" />
          <div class="column-x3-img" >
              <label class="label">{{localize 'sta.item.genericitem.name'}}</label>
              <input name="name" type="text" value="{{name}}" placeholder="Name" data-dtype="String" />
          </div>
          <div class="column-x1" >
              <label class="label" style="margin-left:10px;">{{localize 'sta.actor.belonging.other.quantity'}}</label>
              <input type="number" name="system.quantity" style="width: calc(100% - 10px);" value="{{system.quantity}}" data-dtype="Number" />
          </div>
          <div class="column-x1" >
              <label class="label">{{localize 'sta.actor.smallcraft.child'}}</label>
              <select name="system.child">
                {{#select system.child}}
                {{#each availableSmallcrafts as |availableSmallcraft|}}
                <option value="{{availableSmallcraft.id}}">{{availableSmallcraft.system.name}}</option>
                {{/each}}
                {{/select}}
              </select>
          </div>
      </div>
  </div>
  <div class="description">
    <label class="label">{{localize 'sta.item.genericitem.description'}}</label>
      {{editor system.description target="system.description" button=true owner=owner editable=true}}
  </div>
</form>
