<form class="{{cssClass}}" autocomplete="off">
    <div class="header-fields">
        <div class="row">
            <img class="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="column-x3-img">
                <label class="label">{{localize 'sta.item.genericitem.name'}}</label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </div>
            <div class="column-x1">
                <label class="label">{{localize 'sta.actor.belonging.weapon.range'}}</label>
                <select name="data.range">
                    {{#select data.range}}
                    <option value="{{localize 'sta.actor.belonging.weapon.close'}}">{{localize 'sta.actor.belonging.weapon.close'}}</option>
                    <option value="{{localize 'sta.actor.belonging.weapon.medium'}}">{{localize 'sta.actor.belonging.weapon.medium'}}</option>
                    <option value="{{localize 'sta.actor.belonging.weapon.long'}}">{{localize 'sta.actor.belonging.weapon.long'}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <label class="label">{{localize 'sta.actor.belonging.weapon.qualities'}}</label>
        <div class="row">
          <div class="column-x4 label-top">
            <label class="label">{{localize 'sta.item.genericitem.opportunity'}}</label>
            <input type="number" name="data.opportunity" value="{{data.opportunity}}" data-dtype="Number" />
          </div>
          <div class="column-x4 label-top">
            <label class="label">{{localize 'sta.item.genericitem.escalation'}}</label>
            <input type="number" name="data.escalation" value="{{data.escalation}}" data-dtype="Number" />
          </div>
          <div class="column-x4 label-top">
            <label class="label">{{localize 'sta.actor.belonging.weapon.damage'}}</label>
            <input type="number" name="data.damage" value="{{data.damage}}" data-dtype="Number" />
          </div>
          <div class="column-x4"></div>
        </div>
        <div class="row">
            <div class="column-x4 label-top">
                <label class="label">{{localize 'sta.actor.belonging.weapon.hiddenx'}}</label>
                <input type="number" name="data.qualities.hiddenx" value="{{data.qualities.hiddenx}}" data-dtype="Number" />
            </div>
            <div class="column-x4 label-top">
                <label class="label">{{localize 'sta.actor.belonging.weapon.piercingx'}}</label>
                <input type="number" name="data.qualities.piercingx" value="{{data.qualities.piercingx}}" data-dtype="Number" />
            </div>
            <div class="column-x4 label-top">
                <label class="label">{{localize 'sta.actor.belonging.weapon.viciousx'}}</label>
                <input type="number" name="data.qualities.viciousx" value="{{data.qualities.viciousx}}" data-dtype="Number" />
            </div>
            <div class="column-x4 label-top">
                <label class="label">{{localize 'sta.actor.belonging.weapon.versatilex'}}</label>
                <input type="number" name="data.qualities.versatilex" value="{{data.qualities.versatilex}}" data-dtype="Number" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.area" data-dtype="Boolean" {{checked data.qualities.area}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.area'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.spread" data-dtype="Boolean" {{checked data.qualities.spread}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.spread'}}</label>
            </div>
            <div class="column-x4">
                <input class="" type="checkbox" name="data.qualities.highyield" data-dtype="Boolean" {{checked data.qualities.highyield}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.highyield'}}</label>
            </div>
            <div class="column-x4">
                <input class="" type="checkbox" name="data.qualities.devastating" data-dtype="Boolean" {{checked data.qualities.devastating}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.devastating'}}</label>
            </div>
        </div>
        <div class="row">
          <div class="column-x4"></div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.dampening" data-dtype="Boolean" {{checked data.qualities.dampening}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.dampening'}}</label>
            </div>
            <div class="column-x4"> 
                <input class="" type="checkbox" name="data.qualities.calibration" data-dtype="Boolean" {{checked data.qualities.calibration}}>
                <label class="label">{{localize 'sta.actor.belonging.weapon.calibration'}}</label>
            </div>
            <div class="column-x4"></div>
        </div>
    </div>
    <div class="description">
      <label class="label">{{localize 'sta.item.genericitem.description'}}</label>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>