<form class="{{cssClass}}" autocomplete="off">
  <div class="header-fields">
    <div class="row">
      <img class="img" src="{{img}}" data-edit="img" title="{{name}}" />
      <div class="column-x3-img">
        <label class="label">{{localize 'sta.item.genericitem.name'}}</label>
        <input name="name" type="text" value="{{name}}" placeholder="Name" />
      </div>
      <div class="column-x1">
        <label class="label">{{localize 'sta.item.talent.type.title'}}</label>
        <select name="system.talenttype.typeenum">
          <option value="general" {{#if (eq system.talenttype.typeenum "general")}}selected{{/if}}>{{localize 'sta.item.talent.type.general'}}</option>
          <option value="discipline" {{#if (eq system.talenttype.typeenum "discipline")}}selected{{/if}}>{{localize 'sta.item.talent.type.discipline'}}</option>
          <option value="species" {{#if (eq system.talenttype.typeenum "species")}}selected{{/if}}>{{localize 'sta.actor.character.species'}}</option>
          <option value="house" {{#if (eq system.talenttype.typeenum "house")}}selected{{/if}}>{{localize 'sta.item.talent.houselegacy'}}</option>
        </select>
      </div>
    </div>
    {{#if (eq system.talenttype.typeenum "discipline")}}
    <div class="row">
      <div class="column-x1"></div>
      <div class="column-x3">
        <label class="label">{{localize 'sta.item.talent.requires'}}</label>
        <select name="system.talenttype.description">
          <option value="command" {{#if (eq system.talenttype.description "command")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.command'}}</option>
          <option value="conn" {{#if (eq system.talenttype.description "conn")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.conn'}}</option>
          <option value="engineering" {{#if (eq system.talenttype.description "engineering")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.engineering'}}</option>
          <option value="medicine" {{#if (eq system.talenttype.description "medicine")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.medicine'}}</option>
          <option value="science" {{#if (eq system.talenttype.description "science")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.science'}}</option>
          <option value="security" {{#if (eq system.talenttype.description "security")}}selected{{/if}}>{{localize 'sta.actor.character.discipline.security'}}</option>
        </select>
      </div>
      <div class="column-x2">
        <input type="number" name="system.talenttype.minimum" value="{{system.talenttype.minimum}}" />
        <label class="label">+</label>
      </div>
      <div class="column-x1"></div>
    </div>
    {{else if (eq system.talenttype.typeenum "species")}}
    <div class="row">
      <div class="column-x1"></div>
      <div class="column-x2">
        <label class="label">{{localize 'sta.item.talent.requires'}} {{localize 'sta.actor.character.species'}} </label>
        <input style="width:100px;" type="text" name="system.talenttype.description" value="{{system.talenttype.description}}" />
      </div>
      <div class="column-x1"></div>
    </div>
    {{else if (eq system.talenttype.typeenum "house")}}
    <div class="row">
      <div class="column-x1"></div>
      <div class="column-x3">
        <label class="label">{{localize 'sta.item.talent.requires'}} {{localize 'sta.item.talent.houserequired'}} </label>
        <select name="system.talenttype.description">
          <option value="leaders" {{#if (eq system.talenttype.description "leaders")}}selected{{/if}}>{{localize 'sta.item.house.legacy.leaders'}}</option>
          <option value="warriors" {{#if (eq system.talenttype.description "warriors")}}selected{{/if}}>{{localize 'sta.item.house.legacy.warriors'}}</option>
          <option value="spacefarers" {{#if (eq system.talenttype.description "spacefarers")}}selected{{/if}}>{{localize 'sta.item.house.legacy.spacefarers'}}</option>
          <option value="engineers" {{#if (eq system.talenttype.description "engineers")}}selected{{/if}}>{{localize 'sta.item.house.legacy.engineers'}}</option>
          <option value="scientists" {{#if (eq system.talenttype.description "scientists")}}selected{{/if}}>{{localize 'sta.item.house.legacy.scientists'}}</option>
          <option value="physicians" {{#if (eq system.talenttype.description "physicians")}}selected{{/if}}>{{localize 'sta.item.house.legacy.physicians'}}</option>
        </select>
      </div>
      <div class="column-x1"></div>
    </div>
    {{/if}}
  </div>

  <div class="description">
    <label class="label">{{localize 'sta.item.genericitem.description'}}</label>
    {{editor system.description target="system.description" button=true owner=owner editable=true}}
  </div>
</form>